//== Colors
$brand-primary:    #004785;
$brand-normal:     #f0f6ed;
$border-color:	   #aeaeae;

//== Scaffolding
//## Settings for some of the most global styles.

//Background color for `<body>`.
$body-bg:               #f5f5f5;
//Global text color on `<body>`.
$text-color:            #333;

// Global textual link color.
$link-color:            $brand-primary;
// Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
// Link hover decoration.
$link-hover-decoration: underline;

//== Typography
$font-size-base:          0.875em;
$font-size-large:         ceil(($font-size-base * 1.75)); // ~28px
$font-size-small:         ceil(($font-size-base * 0.875)); // ~14x

$font-size-h1:            floor(($font-size-base * 1.75)); // ~28x
$font-size-h2:            floor(($font-size-base * 1.5)); // ~24px
$font-size-h3:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h4:            ceil(($font-size-base * 1.125)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.875)); // ~14px

//## Define common padding and border radius sizes
$padding-base-vertical:     10px;
$padding-base-horizontal:   10px;
$border-radius-base:        0px;

// Padding for `<th>`s and `<td>`s.
$table-cell-padding:            10px;

// Default background color used for all tables.
$table-bg:                      #fff;

//====

$input-border-focus:             $brand-primary;
$input-height-base:  40px;

//== Nav-tab


// `.form-group` margin
$form-group-margin-bottom:       20px;

//== Dropdowns
//Background for the dropdown menu.
$dropdown-bg:                    #fff;

//== Navbar
$navbar-height:                    60px;
$navbar-default-color:             #fff;
$navbar-default-bg:                $brand-primary;
$navbar-default-link-color:        #fff;
$navbar-default-link-hover-color:  darken($navbar-default-link-color, 30%);
$navbar-default-link-hover-bg:     $brand-primary;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: #335585;

