/vendor
/.vagrant
/node_modules
/public/storage
/public/uploads
/.idea
Homestead.yaml
Homestead.json
.env
composer.lock
_ide_helper.php
Vagrantfile
package-lock.json
.phpstorm.meta.php
.npmignore
public/baidu_verify_hQp6j4gwOh.html
public/images/Signature.png
public/sitemap.xml
public/sogousiteverification.txt
public/webscan_360_cn.html
storage/28.gz
