/*注册页面*/
.signup-signin {
  display: inline-block;
  margin: 15px 40px;
  float: right;

  .form-control {
    //@extend .form-control;
    height: 30px;
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
  }
  .btn {
    background-color: #fff;
    color: $brand-primary;
    height: 30px;
    width: 80px;
    margin-left: 40px;
    margin-right: 10px;

  }
  a {
    color: $brand-normal;
  }
}
