//== Colors
$brand-primary:    #694c9c;
$brand-normal:     #f0f6ed;
$border-color:	   #aeaeae;

//== Scaffolding
//## Settings for some of the most global styles.

//Background color for `<body>`.
$body-bg:               #f5f5f5;
//Global text color on `<body>`.
$text-color:            #333;

// Global textual link color.
$link-color:            $brand-primary;
// Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
// Link hover decoration.
$link-hover-decoration: underline;

//== Typography
$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.75)); // ~28px
$font-size-small:         ceil(($font-size-base * 0.875)); // ~14x

$font-size-h1:            floor(($font-size-base * 1.75)); // ~28x
$font-size-h2:            floor(($font-size-base * 1.5)); // ~24px
$font-size-h3:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h4:            ceil(($font-size-base * 1.125)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.875)); // ~14px

//## Define common padding and border radius sizes
$padding-base-vertical:     10px;
$padding-base-horizontal:   10px;
$border-radius-base:        0px;

// Padding for `<th>`s and `<td>`s.
$table-cell-padding:            10px;

// Default background color used for all tables.
$table-bg:                      #fff;


//== Forms
.form-group {
  .form-city,.form-jobtype{
    border-color: $border-color;
    &:focus {
      border-color: darken($border-color, 6.5%)
    }
    &:active {
      border-color: $brand-primary;
    }
  }
}

.form-control {
  width: 370px;
  padding-right: 30px;
  //margin-left:10px;
}

.control-label{
  @extend .control-label;
  padding-right: 10px !important;
}

.form-group {
  position: relative;
}

$input-border-focus:             $brand-primary;
$input-height-base:  40px;

//== Nav-tab


// `.form-group` margin
$form-group-margin-bottom:       20px;

//== Dropdowns
//Background for the dropdown menu.
$dropdown-bg:                    #fff;

//== Navbar
$navbar-height:                    60px;
$navbar-default-color:             #fff;
$navbar-default-bg:                $brand-primary;
$navbar-default-link-color:        #fff;
$navbar-default-link-hover-color:  darken($navbar-default-link-color, 30%);
$navbar-default-link-hover-bg:     $brand-primary;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg:    #9681B9;




//== Buttons
.btn {
  padding: 0;
  font-size: 20px;
  height: 40px;
  color: $brand-normal;
  background-color: $brand-primary;
  &:hover,
  &:focus,
  &.focus,
  &:active
  &.active {
    color: #fff;
    background: darken($brand-primary,6.5%)
  }
}


//==Background color used for `.table-striped`.
$table-bg-accent-odd:               #fff;
$table-bg-accent-even:             #fafafa;
$table-border-color:            #fafafa;
.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent-odd;
  }
}

.table-striped {
  > tbody > tr:nth-of-type(even) {
    background-color: $table-bg-accent-even;
  }
}

//Padding for `<th>`s and `<td>`s.
$table-cell-padding:            0px;

//== Grid system
$grid-gutter-width:         0px;

// Background color for textual input addons
//$input-group-addon-bg:           $gray-lighter;
//Border color for textual input addons
//$input-group-addon-border-color: $input-border;



/*注册页面*/
.signup-signin {
  display: inline-block;
  margin: 15px 40px;
  float: right;

  .form-control {
    //@extend .form-control;
    height: 30px;
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
  }
  .btn {
    background-color: #fff;
    color: $brand-primary;
    height: 30px;
    width: 80px;
    margin-left: 40px;
    margin-right: 10px;

  }
  a {
    color: $brand-normal;
  }
}

html{
  height: 100%;
}

body {
  height: 100%;
  min-width: 1140px;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  position: relative;
}

hr {
  border-top: 1px solid #c9c9c9;
}

.center-home {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin: 0 auto;
  width: 500px;
}

img {
  display: inline-block;
  overflow: hidden;
}

#sidebar-company-logo {
  display: inline-block;
}

#brand-jobleadchina {
  margin-left: 40px;
}

.navbar-right {
  margin-right: 30px;
}

/*图标插入*/
.arrow-down {
  font-size: 16px;
  color: #999;
  position: absolute;
  right: 10px;
  top: 40px;
  font-weight: normal;
  cursor: default;
}
.left-arrow-down {
  font-size: 16px;
  color: #999;
  position: absolute;
  left: 344px;
  top: 40px;
  font-weight: normal;
  cursor: default;
}

.required-item {
  font-size: 10px;
  color: #ce1c1c;
}

.icon-post-time {
  color: #999;
}

.icon-phone, .icon-enterpriseMail{
  position: absolute;
  top: 40px;
  right: 10px;
  color: #999;
}
/*home页面*/


/*首页搜索框*/

.search {
  margin: 0 auto;
  width: 980px;
}

.form-city,
.form-jobtype,
.form-salary {
  width: 130px;
  height: 40px;
  padding-left: 10px;
}

.form-industry {
  width: 285px;
  height: 40px;
  padding-left: 10px;
}

.form-companyname {
  width: 190px;
  height: 40px;
  text-align: center;
}

.search .form-group {
  margin: -3px;
}

#button-search {
  width: 120px;
  height: 40px;
}


/*position*/

#positionTab {
  width: 980px;
  margin: 67px auto 10px;
}

#positionTab ul li {
  margin: 0;
}

.change-position-line {
  width: 100%;
  height: 3px;
  overflow: hidden;
  background-color: #694c9c;
}


/*职位缩略图*/

#homePosition {
  width: 980px;
  margin: 0 auto;
}

.company-logo {
  margin: 20px 20px 24px 20px;
  width: 150px;
  height: 150px;
}

.position-item h3,
.job-detail-thumbnail h3 {
  color: #694c9c;
}

.benefit span {
  background: #F1F1F1;
  padding: 6px 5px;
}

.position-item dd {
  margin: 20px 20px 20px 0px;
}

.post-time {
  color: #999;
  font-size: 14px;
}

.pagination li a {
  margin: 5px;
  padding: 5px 10px;
}

.page {
  width: 330px;
  margin: 50px auto;
}

.text-center {
  text-align: center;
  margin: 25px;
}


/*footer*/

#footer {
  background-color: #fff;
  text-align: center;
  height: 130px;
}

#footer span {
  padding: 20px;
}

.more-about,
.contact-email a {
  text-decoration: underline;
}


/*job detail页面*/


/*left position info*/

.left-position {
  width: 600px;
  background-color: #fff;
  margin-bottom: 50px;
}

.detail-position-item {
  padding-top: 10px;
}

.detail-position-item li {
  margin: 20px;
  //margin-top: 20px;
  //margin-bottom: 20px;
}

.detail-position-item-point span {
  font-size: 18px;
  padding-right: 50px;
}

.detail-position-item h2,
.detail-position-item h4 {
  color: #694c9c;
}

.detail-position-item .benefit span {
  display: inline-block;
  margin-bottom: 10px;
}


/*职位信息与公司信息切换；申请该岗位*/

#button-apply {
  padding: 6px 85px;
  margin-right: 20px;
  float: right;
}

.nav-pills li {
  margin: 0 0 0 20px;
}


/*岗位、公司描述*/

.item-content {
  margin: 20px;
  font-size: 14px;
  overflow: hidden;
}

.company_item-content{
  @extend .item-content;
  width: 280px;
}

.item-content p {
  color: #666;
  word-wrap: break-word;
  word-break: normal;
}

.color-line {
  border-left: 5px solid #694c9c;
  padding-left: 10px;
}


/*公司信息概览*/

#sidebar {
  width: 330px;
}

.company-info {
  background-color: #fff;
  display: flex;
  margin-bottom: 30px;
}

.company-info-logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.company-info-title {
  text-align: center;
  padding: 20px;
}

.company-info-title P {
  color: #694c9c;
  font-size: 18px;
  margin-top: 10px;
}

.company-info-content {
  padding: 0 0 30px 0;
  margin: 0 20px;
  list-style: none;
}

.company-info-content li span {
  padding-right: 8px;
  display: inline-block;
  width: 80px;
  margin-bottom: 5px;
  color: #999;
}

.company-info-content li {
  overflow: hidden;
}


/*相似职位*/

.similar-position {
  background-color: #fff;
}

.similar-other-position {
  padding-bottom: 20px;
}

.headline {
  margin: 20px;
  color: #694c9c;
  padding-top: 8px;
}

#sidebar-company-logo {
  width: 80px;
  height: 80px;
  margin: 0 20px;
}


/*该公司的其他职位*/

.other-position-list {
  list-style: none;
  padding: 0;
}

.other-company-salary,
.other-company-location {
  float: right;
}

.other-company-position,
.other-company-position {
  font-size: 16px;
}

.other-position-list li {
  border-bottom: 1px dashed #c9c9c9;
  margin: 21px 30px;
  padding-bottom: 10px;
}


/*登录页面*/

.signin,
.forget-password,
.reset-password,
.signup-content {
  margin: 100px auto;
  background-color: #fff;
  box-shadow: 3px 3px 5px #c9c9c9;
  width: 440px;
}

.signin {
  height: 350px;
  padding-top: 60px;
}

.signin .form-group,
.forget-password .form-group,
.reset-password .form-group,
.signup-content .form-group {
  margin: 0 35px 20px;
}

.signin-btn,
.submit-btn {
  width: 140px;
}

.not-member {
  text-align: center;
}

.icon-email,
.icon-password {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 14px;
}


/*忘记密码页面*/

.forget-password h1,
.reset-password h1,
.signup h1 {
  text-align: center;
  padding-bottom: 30px;
}


/*重置密码页面*/

.reset-btn,
.signup-btn,
.setting-btn {
  width: 370px;
}

.reset-password,
.forget-password,
.signup-content {
  padding: 30px 0;
}


/*注册页面在less文件中*/


/*post job 验证邮箱页面*/

.head-verifyEmail {
  text-align: center;
  margin-bottom: 50px;
}

.head-verifyEmail h3 {
  margin: 0 auto 50px;
}

#full-name-company,
#company-tel {
  width: 370px;
}

.verify-content {
  margin: 30px auto;
  width: 370px;
}

.or-divider {
  border-left: 1px solid #c9c9c9;
  height: 282px;
  position: relative;
  align-items: center;
  display: flex;
  margin-left: 20px;
}

.or-divider-text {
  position: relative;
  right: 10px;
  display: inline-block;
  background-color: #f5f5f5;
  margin: 10px 0px;
  padding: 10px 0;
}

.icon-phone,
.icon-enterpriseMail {
  position: absolute;
  top: 40px;
  right: 10px;
}

.verify-content .form-group {
  margin-bottom: 20px;
}

.verify-way {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 20px 180px;
  /*	margin-left: 50px;*/
}


/*邮箱验证和营业执照验证*/

.verify-info h4 {
  color: #694c9c;
  text-align: center;
  margin-bottom: 30px;
}

.verify-btn {
  width: 370px;
  margin: 30px auto;
  display: block;
}

.upload-file {
  position: relative;
  display: flex;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.upload-file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.upload-file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}

.business_license {
  padding: 30px 20px 30px;
  text-align: center;
  //border: 1px solid #c9c9c9;
  background-color: #fff;
  position: relative;
  display: flex;
  flex: 1;
}


/*上传公司信息*/

.upload-company-logo,
.upload-resume {
  background-color: #fff;
  text-align: center;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  width: 350px;
  height: 250px;
  padding-top: 30px;
}

#short-name,
#company-industry,
#company-address {
  //width: 420px;
}

#company-size,
#company-founded {
  width: 160px;
}

#company-website {
  width: 350px;
}

#company-des-content {
  //width: 880px;
}

#company-submit {
  margin: 30px 50px;
}

.company-size {
  margin-left: 20px;
}


/*上传职位信息*/


/*salary*/


/*.salary-range {
	display: flex;
	justify-content: space-between;
}

.fixed-k {
	position: absolute;
	right: 10px;
	top:9px;
	color: #999;
}

.seperate-to p {
	top: 9px;
	position: absolute;
}
.min-salary, .max-salary, .seperate-to {
	position: relative;
}*/


/*选择benefit*/

.benefit-point {
  display: flex;
  justify-content: space-between;
}

.benefit-point ul li {
  padding-bottom: 10px;
}

#position-submit {
  margin: 30px 50px;
}

.position-point span {
  background-color: #694c9c;
  color: #f0f6ed;
  margin-right: 3px;
  margin-left: 10px;
  padding: 3px;
}

.position-point {
  margin-top: 10px;
}

#position-point,
#benefit-content,
#skills-content,
#job-des-content {
  //width: 880px;
}

.position-btn,
.company-btn {
  width: 440px;
  margin: 0 auto;
}

.min-salary .form-control,
.max-salary .form-control {
  width: 144px;
}

.salary-range {
  width: 370px;
}


/*设置*/

.personal-resume span,
.change-password span {
  font-size: 24px;
  margin-left: 10px;
}

.change-password .form-group,
.upload-resume {
  margin-left: 90px;
}


/*Search No result 页面*/

.search-noresult {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.content-noresult {
  padding-top: 20px;
  padding-left: 30px;
}

.content-noresult h2 {
  color: #999;
}

.searchbar {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}

.searchbarForm {
  position: relative;
  display: flex;
  display: -webkit-flex;
}

.searchbarWapper {
  position: relative;
  width: 100%;
  flex: 9;
  display: flex;
  display: -webkit-flex;
}

.searchbarCitySelect {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
}

.cityselect{
  outline: none;
}

.searchbarCitySelect select {
  width: 100%;
  height: 44px;
  transition: border-color 0.2s;
  border-radius: 0;
  border-right-width: 0;
  border-right-color: initial;
  border-right-style: initial;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  padding: 10px;
}

.searchbarJobTypeSelect {
  position: relative;
  /*display: inline-block;*/
  -webkit-flex: 1;
  flex: 1;
  margin-left: -1px;
}

.jobtypeselect{
  outline: none;
}

.searchbarJobTypeSelect select {
  height: 44px;
  width: 100%;
  transition: border-color 0.2s;
  border-radius: 0;
  border-right-width: 0;
  border-right-color: initial;
  border-right-style: initial;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  padding: 10px;
}

.searchbarIndustrySelect {
  position: relative;
  /*height: 44px;*/
  -webkit-flex: 3;
  flex: 3;
  //width: 300px;
  height: 44px;
  margin-left: -1px;
}

.industryinputlabel {
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
}


/*.searchbar input {
    display: block;
}*/

.industryInput {
  width: 100%;
  height: 44px;
  /*-moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;*/
}

.input-large {
  height: 44px;
  /*font-size: 16px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

[type="text"] {
  /*transition: border-color 0.2s;*/
  /*border-radius: 2px;*/
  /*background-color: #fff;*/
  /*background-color: rgb(248, 248, 248);*/
  //color: #999;
  border: 1px solid #ccc;
  font-weight: normal;
  //padding: 0;
  width: 100%;
  //height: 100%;
  //float: left;
}

.industrylist {
  position: absolute;
  z-index: 99;
  text-align: left;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2);
  border-top: 0;
  top: 100%;
  width: 762px;
  display: none;
  background: #fff;
  overflow: auto;
  border: 1px solid #c4c4c4;
}

.company_industrylist{
  //@extend .industrylist;
  left: -251px;
}

.job_industrylist{
  //@extend .company_industrylist;
  left: -311px;
}

.industrylist_row {
  color: #484848;
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  position: relative;
  display: flex;
}

.industrylist_row_name {
  text-align: center;
  float: left;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 17%;
  min-width: 230px;
  word-wrap:break-word;
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
}

.industrylist_row_content {
  width: 77%;
  float: left;
  position: relative;
  /*margin-left: 23%;*/
}

.industrylist_row_1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.industrylist_row_1 li {
  display: inline-block;
  cursor: pointer;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-right: 20px;
  padding-left: 10px;
}

.searchbarSalarySelect {
  flex: 1.4;
  -webkit-box-flex: 1.4;
  position: relative;
  margin-left: -1px;
}

.salaryselect{
  outline: none;
}

.searchbarSalarySelect select {
  height: 44px;
  width: 100%;
  transition: border-color 0.2s;
  border-radius: 0;
  border-right-width: 0;
  border-right-color: initial;
  border-right-style: initial;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.searchbarCompanyNameInput {
  /*width: 300px;*/
  height: 44px;
  margin-left: -1px;
}

.companyNameInputLabel {
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
}

.companyNameInput {
  width: 100%;
  height: 44px;
  /*display: inline-block;*/
  /*margin-bottom: 0;*/
}

#cityselecticon,
#jobtypeselecticon,
#industryselecticon,
#salaryselecticon {
  position: absolute;
  top: 15px;
  right: 10px;
}

.searchbarSearchButton {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 44px;
  top: 0;
  right: 0;
  flex: 1;
  margin-left: -1px;
}

.searchbarButton {
  width: 100%;
  height: 100%;
}


.btn-searchbar {


  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.428571429;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: $brand-normal;
  background-color: $brand-primary;
  &:hover,
  &:focus,
  &.focus,
  &:active
  &.active {
    color: #fff;
    background: darken($brand-primary,6.5%)
  }
}

.joblist{
  margin-top: 50px;
}
.jobThumbnail {
  display: flex;
  display: -webkit-flex;
  max-width: 980px;
  margin: 0 auto;
  //margin-top:50px;
  /*border: 1px solid #ccc;*/
}

.jobThumbnailCompanyLogo {
  flex: 1;
  margin: 10px;
  display: flex;
  align-items: center;
  //justify-content: center;
  width: 150px;
  position: relative;
  height: 150px;
}
.jobThumbnailCompanyLogo_figure{
  width: 100%;
  height: 100%;
  //position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobThumbnailCompanyLogoImg{
  width: 100%;
  height: 100%;
}


.jobThumbnailPosition {
  flex: 3;
  margin: 10px;
}

.jobThumbnailCompany {
  flex: 2;
  margin: 10px;
  margin-left: 30px;
}

.positionTitle {
  margin-top: 10px;
}

.positionTitle h3{
  color: #694c9c;
  font-weight: normal;
}

.salaryRange{
  margin-top:25px;
  color: #694c9c;
  font-weight: normal;
}

.seperate-line {
  border-right: 3px solid #694c9c;
  border-height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 18px;
}

.jobThumbnailPositionRequire {
  margin-top: 20px;
}

.jobThumbnailPositionPoint {
  margin-top: 10px;
  font-size: 14px;
}

.companyName {
  margin-top: 10px;
}

.jobThumbnailCompanyIndustry {
  margin-top: 25px;
}

.jobThumbnailWalfareTag {
  margin-top: 20px;
}

.jobThumbnailWalfareTag span {
  background: #F1F1F1;
  padding: 6px 5px;
}

.timestamp {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
}

div.jobThumbnail:nth-child(even) {
  background-color: #fafafa;
}

div.jobThumbnail:nth-child(odd) {
  background-color: #fefefe;
}

.previewSelectFile{
  flex: 2;
  border: 1px solid #ccc;
  margin: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

#previewer{
  width: 100%;
  height: 100%;
}

.company-property-container{

  padding: 50px 30px 30px 30px;
  flex: 2;

}

#company_scale,
#company_founder_time,
#company_location {

  width: 100%;
  height: 44px;
  transition: border-color 0.2s;
  border-radius: 0;
  border-right-width: 0;
  border-right-color: initial;
  border-right-style: initial;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  padding: 10px;
}

.company_business_license_name{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 50px;
}

.form-submit-button{
  display: flex;
}

.resend_verify_email{
  margin-top: 30px;
  margin-bottom: 30px;
}

.job_property_part1{
  display: flex;
}

.job_property_part1_left_part{
  flex: 1;
  margin: 20px;
  padding: 20px;
}

.job_property_part1_right_part{
  flex: 1;
  margin: 20px;
  padding: 20px;
}

.choose-salary{
  display: flex;
  justify-content: space-between;
}

.max_salary_input,
.min_salary_input{
  position: relative;
}
.min-salary, .max-salary {
  width: 140px;
}

.salary-k {
  position: absolute;
  right: 10px;
  top: 9px;
  color: #999;
  margin-left: 10px;
}

.salary-to {
  position: relative;
  top: 9px;
}

.job_status_type,
.job_industry,
.position_experience,
.education_degree_select,
.work_city_select,
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.job_label{
  //margin-left: 10px;
}

.job_description_area,
.desired_skill_experience_area,
.position_benefit_input,
.position_point_input{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 20px;
}
.joblead_btn{
  margin: 0 auto;
  max-width: 440px;
}

//========job detail======

.job_company_info{
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}

.job_info{
  background-color: white;
  flex: 3;
  padding: 20px;
  margin: 20px;
  width: 760px;
  margin-left: 0;
  //max-width: 760px;
}

.company_info{
  flex: 1;
  padding: 20px;
  margin: 20px;
  background-color: white;
  width: 360px;
  margin-left: 0;
  //max-width: 380px;
}

.companyThumbnailCompanyLogo{
  @extend .jobThumbnailCompanyLogo;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.companyThumbnailCompanyLogo_figure{
  @extend .jobThumbnailCompanyLogo_figure;
  width: 250px;
  height: 250px;
}

.companyThumbnailCompanyLogoImg{
  @extend .jobThumbnailCompanyLogoImg;
}

//========job apply bar=======

.job_apply_bar_url{
  display: flex;
}

.job_apply_bar_title{
  flex: initial;
  width: 200px;
  min-width: 100px;
  margin: 0;
  background-color: #694c9c;
  float: left;
  //flex: 1;
}

.job_apply_btn{
  float: right;
  width: 200px;
  min-width: 100px;
  flex: initial;
  margin: 0;
  font-size: 28px;
  //flex: 1;
}

.job_apply_placeholder{
  flex: 1;
  height: 10px;
  margin: 0;
}

.company_info_name{
  display: inline-block;
  margin: 10px;
  font-size: 25px;
  font-weight: normal;
}
.basic_info_container{
  position: relative;
}
.basic_info_content{
  display: inline-block;
  width: 200px;
  margin-left: 100px;
}
.basic_info_item{
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100px;
}
.basic_info_label{
  width: 100%;
  font-weight: normal;
}

//refine company info position info
.refine-position {
  padding-top: 30px;
  padding-bottom: 30px;
  //padding-left: 20px;
  //padding-right: 20px;
  margin-bottom: 20px;
}

.updated-time {
  color: #999;
  margin: 20px;
}
.refine-links{
  margin-right: 20px;
}
.refine-links a {
  margin-left: 20px;
  cursor: pointer;
}
.refine-position-item{
  padding: 10px;
}
.refine-position-item-title {
  color: #694c9c;
  margin: 20px;
}

.refine-position-item-point {
  margin: 20px;
}
.refine-position-item li:nth-child(odd) {
  background-color: #fff;
}
.refine-position-item li:nth-child(even) {
  background-color: #fafafa;
}

.refine-position-item-edit{
  margin-bottom: 20px;
}

div.refine-position-item:nth-child(even) {
  background-color: #fafafa;
}

div.refine-position-item:nth-child(odd) {
  background-color: #fefefe;
}

//brand

.brand{
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px
}

/*footer*/
#footer {
  background-color: #fff;
  text-align: center;
  height:150px;
  margin-top:-150px;
  position: absolute;
  //bottom: 0;
  width: 100%;
  //background-color: #ffc0cb;
}

#footer span {
  padding: 20px;
}

.more-about, .contact-email a {
  text-decoration: underline;
}

//navbar

.navbar_container{
  width: 100%;
  margin-bottom: 60px;
}

.content_container{
  min-height: 100%;
  width: 100%;
  padding-bottom: 200px;
}

.jb_navbar{
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  position: relative !important;
  margin-bottom: 0px !important;
}

.jb_content{
  //padding-bottom: 100px;
  //margin-bottom: 100px;
}

//about us
.moreInformation{
  width: 1140px;
  margin: 0 auto;
  padding: 20px 50px;
}

.moreInformation h2,.information-intro-en h3 ,.information-intro-en h4,
.information-intro-ch-HR h4, .information-intro-ch-rent h4 {
  color: #694c9c;
}


.head-hunter, .information-intro-ch-HR, .information-intro-ch-rent{
  margin-top: 30px;
}

.information-intro-ch-rent span {
  font-size: 14px;
  color: #999;
}
.information-pic {
  text-align: center;
}
.information-picList {
  box-shadow: 1px 1px 5px #c9c9c9;
  margin: 10px auto;
}


.container{
  width: 1140px !important;
}
//$icon-font-path: 'node_modules/bootstrap-sass/assets/fonts/';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";






