//Guidence

.article-recruitment01 {
  width: 980px;
  margin: 0 auto;
  padding: 20px 50px;
  line-height: 40px;

  font-family: "Microsoft YaHei";
}

.article-recruitment01 h2 {
  text-align: center;
  margin: 30px;
}
.first-subtitle{
  color: #28869C;
  margin: 40px 0;
}

.second-subtitle {
  color: #fff;
  background: #694c9c;
  padding: 10px 20px;
  margin-top: 30px;
}

.extra-instruction {
  color: #694c9c;
}
