.search-noresult {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.succeed_send_email_icon{
  padding: 50px;
}

.content-noresult {
  padding-top: 20px;
  padding-left: 30px;
}

.content-noresult h2 {
  color: #999;
}

.img-noresult{
  padding-top: 50px;
  padding-bottom: 50px;
}
